<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ alias('@assetsUrl') }}/css/style.min.css">
		<title>{{ siteName }}</title>
	</head>
    {% include "_partials/_header.twig" %}
	<body>
		{% block content %}{% endblock %}
        {% include "_partials/_footer.twig" %}
		{% include "_partials/_scripts.twig" %}
	</body>
</html>
